<FlexboxLayout>
    <StackLayout [formGroup]="signupForm" class="form">
        <Image src="~/assets/images/pistacja2.png">
        </Image>
        <TextField formControlName="email" hint="Email Address" keyboardType="email"
                   autocorrect="false" autocapitalizationType="none"
                   class="input input-border"></TextField>
        <TextField formControlName="password" hint="Password" secure="true"
                   class="input input-border"></TextField>


        <Button [text]="isLoggingIn ? 'Sign in' : 'Sign up'"
                class="btn btn-primary" (tap)="submit()"></Button>
        <Button [text]="isLoggingIn ? 'Sign up' : 'Back to login'"
                class="btn btn-seccondary" (tap)="toggleDisplay()"></Button>
        <Button text="Home" [nsRouterLink]="['/home']" pageTransition="slide" clearHistory="true"></Button>
        <!--<Image src="../imgtest/background.jpeg" stretch="none" class="img-rounded p-l-15 p-r-15 p-t-15"></Image>-->
    </StackLayout>
</FlexboxLayout>
