<div class="container  mt-5">
    <div class="row">
        <div class="col col-lg-4">
            <img src="/assets/images/pistacja2.png" class="m-4">
        </div>
        <div class="col col-lg-4">
            <form [formGroup]="signupForm" (ngSubmit)="submit()">
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input
                            type="text"
                            id="email"
                            formControllName="email"
                            class="form-control"
                            aria-describedby="emailHelp"
                            placeholder="Enter email">
                    <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.-->
                    <!--</small>-->
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input
                            type="password"
                            id="password"
                            formControllName="email"
                            class="form-control"
                            placeholder="Password">
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="button" class="btn btn-success" (click)="onLogin()">Zaloguj</button>
            </form>
        </div>
    </div>

</div>
