<app-navbar></app-navbar>
<div class="container-fluid">
    <!--<app-side-nav></app-side-nav>-->
    <!--<app-top-nav></app-top-nav>-->
    <div>
        <router-outlet></router-outlet>
    </div>
</div>
