<FlexboxLayout class="p-20">
    <StackLayout>
        <Image src="~/assets/images/pistacja2.png">
        </Image>
        <Label text="Welcome to {{ title }}!" class="h3 text-center" textWrap="true"></Label>

        <Button text="Login" class="btn btn-primary" [nsRouterLink]="['/login']"
                pageTransition="slide" clearHistory="true"></Button>
    </StackLayout>
</FlexboxLayout>
